BasedOnStyle: LLVM
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AlignOperands: false
AlignAfterOpenBracket: false
AlignEscapedNewlines: DontAlign
IndentWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 100
IndentCaseLabels: true
IncludeBlocks: Regroup
